<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мониторы</title>
</head>
<body>
<button onclick="window.location.href='/categories'">Категории</button>
<br/><br/>
<button onclick="window.location.href='/categories/monitor/new'">Создать</button>
<br/><br/>
<button onclick="window.location.href='/categories/monitor'">Показать всё</button>
<br/><br/>
<div style="color: red" th:if="${findError}" th:text="${findError}" ></div>
<form th:method="POST" th:action="@{''}" th:object="${findId}">
    <label for="idField">Найти по id</label>
    <input type="number" th:field="*{id}" id="idField"/>
    <input type="submit" value="Найти"/>
</form>
<br/>
<table>
    <tr>
        <th>id</th>
        <th>Номер серии</th>
        <th>Производитель</th>
        <th>Цена</th>
        <th>Количество на складе</th>
        <th>Размер (диагональ)</th>
        <th>Удалить</th>
        <th>Редактировать</th>
    </tr>
    <tr th:each="monitor : ${monitors}">
        <td th:text="${monitor.getId()}"></td>
        <td th:text="${monitor.getSerialNumber()}"></td>
        <td th:text="${monitor.getManufacturer().getName()}"></td>
        <td th:text="${monitor.getPrice()}"></td>
        <td th:text="${monitor.getStockQuantity()}"></td>
        <td th:text="${monitor.getSize()}"></td>
        <td><a th:href="@{monitor/{id}/delete(id=${monitor.getId()})}">Удалить</a></td>
        <td><a th:href="@{monitor/{id}/edit(id=${monitor.getId()})}">Редактировать</a></td>
    </tr>
</table>
</body>
</html>